html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.35;
  color: #3b3b3b;
  background-color: rgb(61, 61, 61);
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  max-width: 700px;
  margin: 50px auto;
  border: 3px solid gray;
  border-radius: 10px;
  padding: 0px 30px;
  background-color: white;
  position: relative;
}

h2 {
  text-align: center;
}

.task {
  text-align: center;
  font-size: 24px;
  font-style: italic;
}

.top_line {
  display: flex;
  justify-content: space-between;
  line-height: 25px;
}

.top_right_el {
  display: flex;
}

.star {
  content: url(./img/star.svg);
  width: 25px;
  height: 25px;
  cursor: pointer;
  vertical-align: middle;
}

.points {
  width: 30px;
  text-align: right;
}

.plus-one {
  position: fixed;
  color: #4caf50;
  font-weight: bold;
  pointer-events: none;
  transition: transform 0.7s ease, opacity 0.7s ease;
  font-size: 20px;
}

.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.element {
  margin: 5px;
  display: inline-flex;
}

.element-inner {
  border: 2px solid gray;
  border-radius: 3px;
  background-color: rgb(105, 104, 104);
  color: white;
  font-weight: 500;
  padding: 3px 5px;
  /* pointer-events: none; */
}

.correct .element-inner {
  background-color: #4caf50;
}

.drop-indicator {
  display: inline-flex;
  width: 3px;
  height: 42px;
  border-radius: 3px;
  background: red;
  margin-top: 5px;
}

.clone-anim {
  position: fixed;
  margin: 0;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 9999;
  transition: all 0.45s ease;
}

.bottom-line {
  padding-top: 55px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu,
.btn-prev,
.btn-next,
.sound,
.full-screen,
.full-screen_close {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu {
  content: url(./img/menu-button.svg);
  margin-right: 46px;
}

.bottom_btn_box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-prev,
.btn-next {
  appearance: none;
  border: none;
  background: none;
  padding: 0;
}

.btn-prev {
  background-image: url(./img/arrow_left.svg);
}
.btn-next {
  background-image: url(./img/arrow_right.svg);
}

.sound {
  content: url(./img/sound_icon.svg);
  vertical-align: middle;
}

.sound.on {
  content: url("./img/sound_icon.svg");
}

.sound.off {
  content: url("./img/sound-off.svg");
}

.full-screen {
  content: url(./img/full_screen.svg);
  vertical-align: middle;
  margin-left: 10px;
}

.full-screen_close {
  content: url(./img/full-screen-exit.svg);
  vertical-align: middle;
  margin-left: 10px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(76, 75, 75, 0.952);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup.hidden {
  display: none;
}
.popup-content {
  border: 2px solid rgba(205, 202, 202, 0.7);
  background: rgb(31, 31, 31);
  color: rgb(218, 216, 216);
  padding: 20px;
  border-radius: 10px;
  min-width: 250px;
  text-align: center;
}
.popup-font {
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(205, 202, 202, 0.7);
  margin: 0 0 15px 0;
}

.sore-time_list {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid rgba(48, 48, 48, 0.7);
  border-bottom: 2px solid rgba(48, 48, 48, 0.7);
  margin: 15px 0;
  padding: 10px 0;
}

.score_list,
.time_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-text {
  font-size: 20px;
  margin: 0;
  color: rgb(33, 179, 242);
}

.value-text {
  font-size: 42px;
  margin: 5px 0 0 0;
  color: rgb(218, 216, 216);
}

.popup-content button {
  padding: 8px 12px;
  cursor: pointer;
  display: block;
  width: 100%;
  background: rgb(31, 31, 31);
  color: rgb(218, 216, 216);
  border: none;
  border-radius: 5px;
}

.popup-content button:hover {
  background-color: rgba(48, 48, 48, 0.7);
  color: rgb(250, 249, 249);
}

table td {
  max-width: 100%;
  text-align: center;
  border-top: 2px solid rgba(48, 48, 48, 0.7);
  border-right: 2px solid rgba(48, 48, 48, 0.7);
}

table tr:last-child td {
  border-bottom: 2px solid rgba(48, 48, 48, 0.7);
}

table td:last-child {
  border-right: none;
}

td.player-index {
  width: 40px;
}
td.player-name {
  width: 150px;
}
td.player-score {
  width: 100px;
  font-size: 34px;
  font-weight: bold;
}
td.player-time {
  width: 100px;
}

#closeLeaderboardBtn,
#closeAnswersBtn {
  margin-top: 20px;
}

#playerNameInput {
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  text-align: center;
  font-size: 30px;
  max-width: 200px;
  outline: none;
  margin: 30px 0;
}

.label-input {
  font-size: 20px;
}

#answersPopup td {
  padding: 5px 10px;
}

@media screen and (max-width: 394px) {
  .bottom_btn_box {
    display: none;
  }
  h2 {
    font-size: 24px;
  }
  .task {
    font-size: 18px;
  }
  .container {
    padding: 0;
  }
}
